<!DOCTYPE html>
<html>
    <head>
        <title>Product page</title>
        <!--- <link rel="stylesheet" type="text/css" href="css/style-intro.css" -->
        <link rel="stylesheet" href="css/style-intro.css">
    </head>
    <body>
        <p>Thanks to https://www.vuemastery.com/, https://www.vuemastery.com/courses/intro-to-vue-js/</p>
        <div class="nav-bar"></div>
        <div id="app">
            <div class="product">
                <div class="product-image">
                    <img v-bind:src="image" v-bind:alt="alt_text"/>
                </div>

                <div class="product-info">
                    <h1>Product goes here</h1>

                    <div class="cart">
                        <p>Cart({{cart}})</p>
                        <button v-on:click="addToCart"
                            :disabled="!in_stock"
                            :class="{disabledButton: !in_stock}">Add to cart</button>

                        <button @click="removeFromCart"
                        :disabled="!in_stock"
                        :class="{disabledButton: !in_stock}">Remove from cart</button>
                    </div>

                    <div class="sizes-list">
                        <ul>
                            <li v-for="size in sizes">{{ size}}</li>
                        </ul>
                    </div>

                    Mouse over the color box to change the image accordingly
                    <div v-for="(variant, index) in variants"
                        :key="variant.variant_id"
                        class="color-box"
                        :style="{backgroundColor: variant.variant_color}"
                        @mouseover="updateProduct(index)">
                    </div>

                    Mouse over the color name to change the image accordingly
                    <div v-for="(variant, index) in variants"
                        :key="variant.variant_id">
                        <p @mouseover="updateProduct(index)">{{variant.variant_id}} - {{variant.variant_color}}</p>
                    </div>

                    <ul>
                        <li v-for="detail in details">{{detail}}</li>
                    </ul>

                    <span v-show="on_sale">On sale!</span>
                    <p>{{sale}}</p>

                    <p :class="{outOfStock: !in_stock}">In stock line-through</p>

                    <p v-if="in_stock">In stock</p>
                    <p v-else="in_stock">Out of stock</p>

                    <p v-if="inventory>10">In stock</p>
                    <p v-else-if="inventory>0 && inventory<=10">Almost sold out!</p>
                    <p v-else>Out of stock!</p>

                    <a v-bind:href="link">More products like this</a>

                    <h1> {{brand}} {{product}}</h1>
                    <h1> {{title}}</h1>
                    <p> {{description }}</p>
                </div>
            </div>
            <script src="https://cdn.jsdelivr.net/npm/vue"></script>
            <script src="js/intro.js"></script>
        </div>
    </body>
</html>